<!DOCTYPE html>
<html lang="en">
<head>
<title>IDA</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="header"> <!-- style="background-image: url(icon6.jpg);"> -->
  <h1 >INTELLIGENT DOCUMENT ANALYSIS</h1>
  <p><b>A Document Analyzer Tool</p>
</div>

<div class="navbar">
  <a href="Sample2.html" class="active">Home</a>
  <!-- <a href="#" >Explore</a> -->
  <!-- <a href="#" class="right">About</a> -->
  <!-- <a href="#" class="right">Contact Us</a> -->
<!--   <a href="#" class="right">Link</a> -->
</div>

<div style="padding-left:350px;font-size: xx-large;">
  <p>Data related to {{domain_list}} Analysed Successfully</p>

</div>

<div style="padding-left: 150px;">
<p><u>The results are ready(Click to view)</u></p>
  <div class="fakeimg2" style="height:60px;">
    <a href="{{p1}}" style="text-decoration: none;color: white;">Named-enity relationship</a></div><br>
  <div class="fakeimg2" style="height:60px;">
    <a href="{{p2}}" style="text-decoration: none;color: white;">Dependency pattern</a></div><br>
  <div class="fakeimg2" style="height:60px;">
    <a href="{{p3}}" style="text-decoration: none;color: white;">Sentiment Analysis</a></div>
  <br>  
</div>

<div style="padding-left:350px;font-size: x-large;">
  <p>The CSV files are ready and can be viewed from the current folder</p>

</div>

</body>
</html>
